name: Go

on:
  create:
    tags: [ 'v*.*.*' ]
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  go:
    name: Go
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        cache: false
        go-version-file: go.mod
    - name: Build darwin-x64
      env:
        GOARCH: amd64
        GOOS: darwin
      run: go build -o ./dist/darwin-x64/health
    - name: Build darwin-arm64
      env:
        GOARCH: arm64
        GOOS: darwin
      run: go build -o ./dist/darwin-arm64/health
    - name: Build linux-x64
      env:
        GOARCH: amd64
        GOOS: linux
      run: go build -o ./dist/linux-x64/health
    - name: Build linux-arm64
      env:
        GOARCH: arm64
        GOOS: linux
      run: go build -o ./dist/linux-arm64/health
    - name: Build windows-x64
      env:
        GOARCH: amd64
        GOOS: windows
      run: go build -o ./dist/windows-x64/health.exe
    - name: Build windows-arm64
      env:
        GOARCH: arm64
        GOOS: windows
      run: go build -o ./dist/windows-arm64/health.exe
    - name: Archive Binaries
      if: github.event_name == 'create' && github.event.ref_type == 'tag'
      run: |
        cd $GITHUB_WORKSPACE/dist/darwin-x64 && zip -mr ../${GITHUB_REPOSITORY#*/}-darwin-x64.zip .
        cd $GITHUB_WORKSPACE/dist/darwin-arm64 && zip -mr ../${GITHUB_REPOSITORY#*/}-darwin-arm64.zip .
        cd $GITHUB_WORKSPACE/dist/linux-x64 && zip -mr ../${GITHUB_REPOSITORY#*/}-linux-x64.zip .
        cd $GITHUB_WORKSPACE/dist/linux-arm64 && zip -mr ../${GITHUB_REPOSITORY#*/}-linux-arm64.zip .
        cd $GITHUB_WORKSPACE/dist/windows-x64 && zip -mr ../${GITHUB_REPOSITORY#*/}-windows-x64.zip .
        cd $GITHUB_WORKSPACE/dist/windows-arm64 && zip -mr ../${GITHUB_REPOSITORY#*/}-windows-arm64.zip .
    - name: Setup Release
      if: github.event_name == 'create' && github.event.ref_type == 'tag'
      run: echo "release_name=${GITHUB_REPOSITORY#*/} ${GITHUB_REF_NAME}" >> $GITHUB_ENV
    - name: Release
      if: github.event_name == 'create' && github.event.ref_type == 'tag'
      uses: softprops/action-gh-release@v1
      with:
        files: ./dist/*
        generate_release_notes: true
        name: ${{ env.release_name }}